/** Space for all imported Fonts **/

@import url(//fonts.googleapis.com/css?family=Lato);

/** Main Style goes here**/

body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 3rem;
}

.doc {
	position: relative;
	margin-top: 2rem;
}

.doc a,
.features a,
.platforms a,
.contributors a,
.game a {
	color: rgb(0, 184, 212);
}

.game h3 {
	font-size: 1.2rem;
	padding-bottom: 0;
}

.game div.padded {
	padding-top: 0;
}

.back {
	position: absolute;
	width: 6em;
	background: #fff;
	padding: 1rem;
}

.game {
	display: flex;
	flex-flow: column;
}

.game > div {
	flex-grow: 1;
}

.game > a button {
	width: 100%;
	margin: 0;
	padding: 1rem;
	background: #00bcd4;
	color: #fff;
	border-radius: 0;
}

.game > a button:hover {
	background: #fff;
	color: #00bcd4;
}

.doc h2 {
	text-align: center;
	margin: 0.7em 0;
}

.doc h3,
.doc h4 {
	margin: 0.7em 0;
}

.nav h1 {
	font-weight: normal;
}

p {
	line-height: 1.5rem;
}

.nav__content-list__item:hover {
	background: #ffffff;
	color: #f16272;
}

.phrase {
	color: #FFFFFF;
	padding: 2em;
	-moz-box-shadow: inset 0 0 10px 0 #424242;
	-webkit-box-shadow: inset 0 0 10px -2px #424242;
	box-shadow: inset 0 0 10px -2px #424242;
	text-align: center;
	margin: 2em 0;
}

.features img {
	max-width: 100%;
	min-height: 100%;
	width: 15rem;
}

.contributor {
	border-radius: 100%;
	object-fit: cover;
	margin-bottom: 1rem;
}

button.download {
	background: rgb(0, 184, 212);
	color: #ffffff;
	padding: 1rem;
}

.nav {
	background-color: #f16272;
	color: #ffffff;
}

.features .row__column {
	align-self: center;
}

.platforms img,
.contributors img {
	max-width: 100%;
	min-height: 100%;
	width: 8rem;
}

.platforms h3 {
	margin: 1rem 0;
}

.warning {
	color: #ff8f00;
	border-left: 0.5em solid #f9a825;
	background-color: #fff59d;
	margin: 0.5em 0;
	padding: 1em;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

/** Place here all Media Queries and it's styles.**/

/** Default Style. Don't change. (320px) **/
@media screen and  (max-width: 20em) {}

/** Extra Small Devices, Phones (480px) **/
@media screen and (min-width : 30em) {

}

/** Medium Screens, Tablets (601px) **/
@media screen and (min-width: 37.56255em) {
	.hero {
		padding: 0 6rem;
	}

	.hero h1 {
		font-size: 3rem;
	}

	.doc {
		margin-top: 0;
	}
}

/** Medium Devices, Desktops (992px)**/
@media screen and (min-width: 62em) {
	.hero h1 {
		font-size: 4rem;
	}
}

/** HD Screen, Large Devices, Wide Screens (1200px) **/
@media screen and (min-width: 75em) {
	.hero h1 {
		font-size: 5rem;
	}
}

/** Full HD Screen, Large Devices, Wide Screens (1920px) **/
@media screen and (min-width: 120em) {

}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {

}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {

}

/** 5k Screens, Large Devices, Wide Screens (5120px) **/
@media screen and (min-width: 320em) {

}

/** CSS for Printing **/
@media print {

}