<nav class="side-l side-m nav md-depth-2 fixed">
	<img src="img/logo-white.svg" class="logo"></img>
	<h1 class="logo">Design</h1>
  	<span class="menu-icon fa-bars fa"></span>
	<ul>
		<li><a href="/documentation/"><i class="fa fa-arrow-left"></i> Back</a></li>
	  	<li><a href="/documentation/design/classes/">CSS Classes</a></li>
	  	<li><a href="/documentation/design/data-attributes/">Data Attributes</a></li>
	  	<li><a href="/documentation/design/icons/">Icons</a></li>
	  	<li><a href="/documentation/design/image-menus/">Image Menus</a></li>
	</ul>
</nav>
