<nav class="side-l side-m nav md-depth-2 fixed">
	<img src="img/logo-white.svg" class="logo"></img>
	<h1 class="logo">Monogatari Documentation</h1>
  	<span class="menu-icon fa-bars fa"></span>
	<ul>
		<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
	  	<li><a href="/documentation/configuration/"><i class="fa fa-cogs"></i> Configuration</a></li>
	  	<li><a href="/documentation/contribute/"><i class="fa fa-github"></i> Contribute</a></li>
	  	<li><a href="/documentation/design/"><i class="fa fa-paint-brush"></i> Design</a></li>
	  	<li><a href="/documentation/extend/"><i class="fa fa-rocket"></i> Extend</a></li>
	  	<li><a href="/documentation/port/"><i class="fa fa-clone"></i> Port</a></li>
	  	<li><a href="/documentation/release/"><i class="fa fa-upload"></i> Release</a></li>
	  	<li><a href="/documentation/script/"><i class="fa fa-code"></i> Script</a></li>
	</ul>
</nav>

<section class="wrapper offset-sn-m offset-sn-l padded-2">
	{{content}}
	<footer class="padded-1 align-center"><a href="https://hyuchia.com/">Hyuchia</a> &copy; {{year}}</footer>
</section>
	
