<nav class="card card--depth--2 nav nav--fixed nav--side nav--side--phablet nav--side--tablet nav--side--desktop nav--side--tablet nav--side--desktop-large">
		<header class="nav__header nav--side__header">
			<img src="assets/icons/icon-white.svg" class="nav__header__logo nav--side__header__logo">
			<h1 class="nav__header__title nav--side__header__title">Monogatari</h1>
		</header>
		<i class="nav__menu-icon fas fa-bars"></i>
		<ul class="nav__content-list nav__content-list--full">
			{{menu}}
		</ul>
	</nav>
<div class="wrapper--side-navigation--phablet wrapper--side-navigation--tablet wrapper--side-navigation--desktop wrapper--side-navigation--desktop-large padded-2 doc">
	<!--<a href="{{back}}"><button class="back card"><span class="fas fa-arrow-left"></span> Back</button></a>-->
	{{doc}}
</div>