
<a href="http://www.affinityengine.org/" class="row__column row__column--6 row__column--tablet--4 row__column--desktop--3"><figure>
<img src="assets/images/affinity.png" alt="Affinity Engine">
<figcaption>Affinity Engine</figcaption>
</figure></a>

<a href="http://cloudnovel.net/" class="row__column row__column--6 row__column--tablet--4 row__column--desktop--3"><figure>
<img src="assets/images/Cloudnovel.png" alt="Cloudnovel">
<figcaption>CloudNovel</figcaption>
</figure></a>

<a href="https://lunafromthemoon.itch.io/renjs" class="row__column row__column--6 row__column--tablet--4 row__column--desktop--3"><figure>
<img src="assets/images/renjs.png" alt="RenJS">
<figcaption>RenJS</figcaption>
</figure></a>

<a href="https://www.renpy.org/" class="row__column row__column--6 row__column--tablet--4 row__column--desktop--3"><figure>
<img src="assets/images/renpy.png" alt="Ren'py">
<figcaption>Ren'py</figcaption>
</figure></a>

<a href="http://sandbox-adventure.com/" class="row__column row__column--6 row__column--tablet--4 row__column--desktop--3"><figure>
<img src="assets/images/ninesquarezone.png" alt="Sanbox Adventure">
<figcaption>Sanbox Adventure</figcaption>
</figure></a>