<div class="row__column row__column--12 row__column--phone--12 row__column--phablet--6 row__column--tablet--4 row__column--desktop--3 card card--depth--2 game">
	<img src="assets/covers/{{cover}}" alt="{{name}}" class="">
	<h3 class="padded text--center">{{name}}</h3>
	<div class="padded">
		<p class="text--justify">{{description}}</p>
		<p><b>Creator:</b> {{creator}}</p>
		<p><b>Website:</b> <a href="{{website}}" target="_blank">{{website}}</a></p>
		<p><b>Tags:</b> {{tags}}</p>
	</div>
	<a href="{{url}}" target="_blank"><button><span class="fas fa-play-circle"></span> Play</button></a>
</div>