<nav class="card card--depth--2 nav nav--fixed nav--top nav--top--phablet nav--top--tablet nav--top--desktop">
	<header class="nav__header nav--top__header">
		<img src="assets/icons/icon-white.svg" class="nav__header__logo nav--top__header__logo">
		<h1 class="nav__header__title nav--top__header__title">Monogatari</h1>
	</header>
	<i class="nav__menu-icon fas fa-bars"></i>
	<ul class="nav__content-list nav__content-list--full">
		<li class="nav__content-list__item"><a href="/demo">Demo</a></li>
		<li class="nav__content-list__item"><a href="/documentation">Documentation</a></li>
		<li class="nav__content-list__item"><a href="/gallery">Gallery</a></li>
		<li class="nav__content-list__item"><a href="https://github.com/Monogatari/Monogatari/" target="_blank">GitHub</a></li>
	</ul>
</nav>