<header>
	<nav class="top-s top-m nav top-l top-r md-depth-2 fixed">
	  	<img class="logo" src="img/Monogatari.svg" alt="Monogatari">
	  	<h1 class="logo">Monogatari</h1>
		<span class="fa fa-bars menu-icon"></span>
		<ul>
			<li><a href="demo/"><i class="ion-android-arrow-dropright-circle"></i> Demo</a></li>
			<li><a href="documentation/"><i class="ion-cube"></i> Documentation</a></li>
			<li><a href="https://github.com/HyuchiaDiego/Monogatari/"><i class="ion-social-github"></i> GitHub</a></li>
			<!--<li><a href="hosting/">Host My Game</a></li>-->
		</ul>
	</nav>
</header>

<div class="logo">
	<h1>Mono<wbr>gata<wbr>ri</h1>
	<h2>Visual Novel Engine</h2>

	<p class="desc">Built to bring Visual Novels to the modern web and take them to the next level, making it easy for anyone to create and distribute Visual Novels in a simple way so that anyone can enjoy them on pretty much anywhere, create games with features that no one has ever imagined... it is time for Visual Novels to Evolve.</p>
	<a href="https://github.com/HyuchiaDiego/Monogatari/releases"><button class="padded-1 md-depth-2 download animated bounceInDown">Download Latest</button></a>
</div>

<blockquote class="phrase animated fadeIn">
	<h3>Every story should be told before they are lost forever.</h3>
</blockquote>
<div class="row main align-center">

	<h2 class="col s12 align-center exception">A Simple Language</h2>
	<div class="col s6 m4 l3 align-center">
		<img src="img/logo.svg" alt="Simple Language" class="animated fadeInLeft">
	</div>
	<p class="col s6 m8 l9 align-justify">You don't need to be a developer to start building your VN, Monogatari features a Ren'py-like language designed to be incredibly simple and yet very powerful which will allow you to write your story as easy as i you where just writing it. Because of this, exporting Ren'py games to the web is very easy as well, you'll just need to add some commas and brackets here and there and your game will be ready for the web!</p>

	<h2 class="col s12 align-center">In this Multimedia World</h2>
	<p class="col s6 m8 l9 align-justify">We live in a world surrounded by media, images, sounds, videos and you can add any of them to your visual novel, add music to create a whole environment, sounds to make it even better and sure, you can add voices too so you'll characters will speak. If showing images and sounds is not enough, you can also show videos. Oh, those nice looking SVGs can be used too along with their incredible nice animations, as well as  your favorite animated GIFs... All in a Responsive way, the perfect way to make your game playable in almost every device!</p>
	<div class="col s6 m4 l3 align-center">
		<img src="img/gallery.svg" alt="Multimedia" class="animated fadeInRight">
	</div>

	<h2 class="col s12 align-center">You are in Control</h2>
	<div class="col s6 m4 l3 align-center">
		<img src="img/custom.svg" alt="Customizable" class="animated fadeInLeft">
	</div>
	<p class="col s6 m8 l9 align-justify">With Monogatari, you are in control of your visual novel like never before, change the font, backgrounds, colors, texts, positions, distribution etc. you can change, add and delete whathever you need in incredible ways. Think of your visual novel as a webpage, everything you've seen before on a webpage you can do it now in your visual novel.</p>

	<h2 class="col s12 align-center">Open Source</h2>
	<p class="col s6 m8 l9  align-justify">Monogatari is an open source project released under the <a href="https://github.com/HyuchiaDiego/Monogatari/blob/master/LICENSE">MIT License</a> which means you can use it, modify it, distribute it and pretty much everything so feel free to use it as you want!, there are no special conditions to use it altough all your players and I will really appreciate if you don't put any ads on your VN, adding ads is really easy since it's web based, but again, it's horrible for the users so please try not to do it.. The code is available in the <a href="https://github.com/HyuchiaDiego/Monogatari">GitHub Repository</a>, feel free to take a look at it and contribute.</p>
	<div class="col s6 m4 l3 align-center">
		<img src="img/embed.svg" alt="Open Source" class="animated fadeInRight">
	</div>

	<h2 class="col s12 align-center">Built with Web Technologies</h2>
	<div class="col s6 m4 l3 align-center">
		<img src="img/web.svg" alt="Web Technologies" class="animated fadeInLeft">
	</div>
	<p class="col s6 m8 l9 align-justify">Monogatari is written using the latest HTML5, CSS3 and Javascript Features. The time we live in is amazing, there are lots of different devices, screens etc. that's why Monogatari is Responsive, it adapts to any screen so everyone will be able to enjoy your game, no matter what device they are on, besides since it's web based, they won't have to download anything, however it's not only limited to web, you'll also be able to create desktop and mobile apps!</p>

	<h2 class="col s12 align-center">Multi Language</h2>
	<p class="col s6 m8 l9 align-justify">Break any language barrier, since Monogatari is web based, you can write your novel in any language supported by the browsers, if you can write it with a keyboard you can use it, as simple as that. There's already built in functionality for you to translate your game into any language it's pretty simple and many people will really apreciate having finally visual novels in their language.</p>
	<div class="col s6 m4 l3 align-center">
		<img src="img/language.svg" alt="Multi Language" class="animated fadeInRight">
	</div>

	<h2 class="col s12 align-center">Extendable</h2>
	<div class="col s6 m4 l3 align-center">
		<img src="img/rocket.svg" alt="Extendable" class="animated fadeInLeft">
	</div>
	<p class="col s6 m8 l9 align-justify">Monogatari is built to be fully extendable, since you can add your own Javascript, CSS and HTML, you can pretty much do anything in your game, add animations, new screens etc. and if you need something fully integrated in the engine, you can modify it's code to  add any features you'd like to it, if you take a look at the code you'll notice it's in fact very simple, it was made in a way any basic programming book will get you ready to understand almost everything and there's nothing in it that's not well documented in <a href="http://www.w3schools.com/">W3 Schools</a>, you can also extend it with the whole bunch of APIs the web has to offer, so go ahead, you can mess around with it as much as you like to create amazing things.</p>



	<div class="col s12 row align-center no-margin padded-2">
	  	<h2 class="col s12 m12 l12 align-center">Visual Novels Everywhere</h2>
		<p class="col s12">Welcome to the magic of the web, since Monogatari is built with web technologies, it works natively in browsers, and can work on desktop and mobile too! You'll find information on how to create desktop apps in the Documentation using <a href="http://electron.atom.io/">Electron</a> and Mobile apps using <a href="http://phonegap.com/">PhoneGap</a>.</p>
		<p class="col s12 align-center">Heres a nice list on what platforms Monogatari will work and you could build apps for.</p>
	  	<h3 class="col s12">Browsers</h3>
		<figure class="col s4 m3 l2">
			<img src="img/chrome.svg" alt="Chrome">
			<figcaption>Chrome</figcaption>
		</figure>
		<figure  class="col s4 m3 l2">
			<img src="img/safari.svg" alt="Safari">
			<figcaption>Safari</figcaption>
		</figure>
		<figure  class="col s4 m3 l2">
			<img src="img/firefox.svg" alt="Firefox">
			<figcaption>Firefox</figcaption>
		</figure>
		<figure  class="col s4 m3 l2">
			<img src="img/Maxthonlogo.svg" alt="Maxthon">
			<figcaption>Maxthon</figcaption>
		</figure>
		<figure  class="col s4 m3 l2">
			<img src="img/vivaldi.svg" alt="Vivaldi">
			<figcaption>Vivaldi</figcaption>
		</figure>
		<figure  class="col s4 m3 l2">
			<img src="img/midori.svg" alt="Midori">
			<figcaption>Midori</figcaption>
		</figure>
		<figure  class="col s4 m3 l2">
			<img src="img/web-browser.svg" alt="Epiphany">
			<figcaption>Epiphany</figcaption>
		</figure>

		<h3 class="col s12">Desktop</h3>
		<figure class="col s4 m3 l2">
			<img src="img/mac.svg" alt="Mac OS X">
			<figcaption>macOS</figcaption>
		</figure>
		<figure class="col s4 m3 l2">
			<img src="img/linux.svg" alt="Linux">
			<figcaption>Linux</figcaption>
		</figure>
		<figure class="col s4 m3 l2">
			<img src="img/windows10.svg" alt="Windows">
			<figcaption>Windows</figcaption>
		</figure>

		<h3 class="col s12">Mobile</h3>
		<figure class="col s4 m3 l2">
			<img src="img/mac.svg" alt="Mac OS X">
			<figcaption>iOS</figcaption>
		</figure>
		<figure class="col s4 m3 l2">
			<img src="img/android.svg" alt="Android">
			<figcaption>Android</figcaption>
		</figure>
		<figure class="col s4 m3 l2">
			<img src="img/windows.svg" alt="Windows">
			<figcaption>Windows Phone</figcaption>
		</figure>

		<h2 class="col s12 m12 l12 align-center">Contributors</h2>
		<p class="col s12">Since Monogatari is Open Source anyone is welcome to contribute to it.<br>Here's a list of awesome people who have contributed to Monogatari making it awesome for you!</p>
		{{> contributors}}

	</div>
</div>

<footer class="padded-1 align-center"><a href="https://hyuchia.com/">Hyuchia</a> &copy; {{year}}</footer>
