<nav class="side-l side-m nav md-depth-2 fixed">
	<img src="img/logo-white.svg" class="logo"></img>
	<h1 class="logo">Release</h1>
  	<span class="menu-icon fa-bars fa"></span>
	<ul>
		<li><a href="/documentation/"><i class="fa fa-arrow-left"></i> Back</a></li>
	  	<li><a href="/documentation/release/chrome/">Chrome</a></li>
	  	<li><a href="/documentation/release/desktop/">Desktop</a></li>
	  	<li><a href="/documentation/release/mobile/">Mobile</a></li>
	  	<li><a href="/documentation/release/web/">Web</a></li>
	</ul>
</nav>
