<li class="nav__content-list__item"><a href="/documentation/script/audio/">Audio</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/characters/">Characters</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/choices/">Choices</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/conditionals/">Conditionals</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/images/">Images</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/input/">Input</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/javascript/">Javascript</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/labels/">Labels</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/messages/">Messages</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/notifications/">Notifications</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/particles/">Particles</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/scenes/">Scenes</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/split/">Split Files</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/storage/">Storage</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/text/">Text</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/video/">Video</a></li>
<li class="nav__content-list__item"><a href="/documentation/script/wait/">Wait</a></li>