<nav class="side-l side-m nav md-depth-2 fixed">
	<img src="img/logo-white.svg" class="logo"></img>
	<h1 class="logo">Script</h1>
  	<span class="menu-icon fa-bars fa"></span>
	<ul>
		<li><a href="/documentation/"><i class="fa fa-arrow-left"></i> Back</a></li>
		<li><a href="/documentation/script/audio/">Audio</a></li>
	  	<li><a href="/documentation/script/characters/">Characters</a></li>
		<li><a href="/documentation/script/choices/">Choices</a></li>
	  	<li><a href="/documentation/script/images/">Images</a></li>
	  	<li><a href="/documentation/script/javascript/">Javascript</a></li>
	  	<li><a href="/documentation/script/labels/">Labels</a></li>
	  	<li><a href="/documentation/script/messages/">Messages</a></li>
	  	<li><a href="/documentation/script/scenes/">Scenes</a></li>
	  	<li><a href="/documentation/script/split/">Split Files</a></li>
	  	<li><a href="/documentation/script/text/">Text</a></li>
	  	<li><a href="/documentation/script/video/">Video</a></li>
	</ul>
</nav>
